---
// Author: Marek Grabowski

import Layout from "../../layouts/Layout.astro";
import ContainerLarge from "../../components/ContainerLarge.astro";
import getVehicleData from "../../utils/getVehicleData";
import RecallTable from "../../components/RecallTable";
import RecallNumber from "../../components/RecallNumber";
import PremiumNumber from "../../components/PremiumNumber";
import RiskFactor from "../../components/RiskFactor";

export async function getStaticPaths() {
  const data = await getVehicleData();
  const paths = data.map((vehicle) => ({
    params: {
      vehicle: vehicle.modelyear_id, // Use the id as the slug
    },
    props: {
      make: vehicle.make_name,
      model: vehicle.model_name,
      year: vehicle.modelyear,
    },
  }));
  return paths;
}

const { make, model, year } = Astro.props;
---

<Layout title="TWW Hartford Project.">
  <main>
    <ContainerLarge>
      <div
        class="flex flex-col sm:flex-row justify-center items-center gap-2 sm:gap-8"
      >
        <h1 class="text-3xl font-medium p-4">
          {year}&nbsp;{make}&nbsp;{model}
        </h1>
        <div class="flex gap-2">
          <div class="flex gap-2 items-center">
            <div
              class="w-10 h-10 rounded-full bg-red-500 flex justify-center items-center"
            >
              <RecallNumber make={make} model={model} year={year} client:load />
            </div>
            <p class="text-xl">Recalls</p>
          </div>
          <div class="rounded-xl py-2 px-4 m-2">
            <RiskFactor make={make} model={model} year={year} client:load/>
          </div>
        </div>
      </div>

      <div class="flex flex-col sm:flex-row gap-20 p-8">
        <div class="sm:w-1/2">
          <div class="text-3xl my-4 ml-2 sm:ml-10 font-light">
            Vehicle Information:
          </div>

          <!-- Vehicle Information -->
          <div class="grid grid-cols-4 gap-2">
            <div class="col-span-1 flex items-center justify-end">
              <p class="mr-2">Make:</p>
            </div>
            <div
              class="col-span-3 rounded bg-gray-100 border border-gray-200 p-2"
            >
              <p class="pl-2">{make}</p>
            </div>
            <div class="col-span-1 flex items-center justify-end">
              <p class="mr-2">Model:</p>
            </div>
            <div
              class="col-span-3 rounded bg-gray-100 border border-gray-200 p-2"
            >
              <p class="pl-2">{model}</p>
            </div>
            <div class="col-span-1 flex items-center justify-end">
              <p class="mr-2">Year:</p>
            </div>
            <div
              class="col-span-3 rounded bg-gray-100 border border-gray-200 p-2"
            >
              <p class="pl-2">{year}</p>
            </div>
          </div>
        </div>

        <div class="sm:w-1/2">
          <div class="text-3xl my-4 ml-2 sm:ml-10 font-light">
            Recall Information:
          </div>

          <!-- Recall Information -->
          <RecallTable make={make} model={model} year={year} client:load />
        </div>
      </div>
      <div class="text-center">
        <PremiumNumber make={make} model={model} year={year} client:load />
      </div>
    </ContainerLarge>
  </main>
</Layout>
